# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# PyCharm / JetBrains IDE
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Large model files (optional)
# model.h5
