# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# IDE settings
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Ignore dataset pickle files (too large for GitHub)
*.pickle
data/GTSRB/*.pickle

# Allow this one CSV (needed by Streamlit app)
!data/GTSRB/label_names.csv
